#main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gray
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: cyan
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 255, 255, 0.781)
}

.theme {
    color: violet;
    background-color: #0b074f;
}

.bor {
    border-bottom: 2px solid aqua;
}

nav {
    a {
        color: aqua;
    }
}