<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/preflight.min.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/bubble-letters" rel="stylesheet">
    <link href="/dist/index.css" rel="stylesheet">
    <link href="/dist/form.css" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Instfactwi</title>
</head>

<body>
    <!-- navbar -->
    <%- include('../partial/account-nav'); %>

        <div class="p-4 theme h-screen">
            <p>
                <%= JSON.stringify(user) %>
            </p>
        </div>

        <script src="https://unpkg.com/scrollreveal"></script>
        <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>