<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/preflight.min.css" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/bubble-letters" rel="stylesheet">
  <link href="/dist/index.css" rel="stylesheet">
  <link href="/dist/output.css" rel="stylesheet">
  <title>Instfactwi</title>
</head>

<body>
  <!-- navbar -->
  <%- include('./partial/nav'); %>
    <div class="p-4 theme">
      <div class="p-4 text-justify">
        <span class="font-extralight">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error recusandae alias culpa nisi eos laboriosam
          facilis exercitationem.Ex sed dignissimos, nisi, reiciendis, possimus sit illo facere facilis obcaecati
          tempora quia.
        </span>
      </div>
      <div class="h-screen p-4" style="border: 2px solid aqua">
        <div>
          Nice
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>