<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/preflight.min.css" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/bubble-letters" rel="stylesheet">
  <link href="/dist/index.css" rel="stylesheet">
  <link href="/dist/output.css" rel="stylesheet">
  <title>Instfactwi</title>
</head>

<body class="border-gray-200 dark:bg-gray-900">
  <!-- navbar -->
  <%- include('./partial/nav'); %>


    <div class="p-6 md:p-16">
      <!-- main -->
      <div class="md:p-6 p-4" id="head">
        <h1 class="flex items-center text-4xl md:text-5xl font-extrabold dark:text-white">Instfactwi<span
            class="bg-blue-100 text-blue-800 text-2xl font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-2">PRO</span>
        </h1>
        <br>
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span
            class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Can't Get</span>
          Over Your Ex ?</h1>
        <cite class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">"Get a Bird's Eye View of Your
          Instagram Connections"</cite>
      </div>
      <br>
      <!-- help -->
      <div class="p-4" id="accordion-color" data-accordion="collapse"
        data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
        <h2 id="accordion-color-heading-1">
          <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
            <span>What is Instfactwi?</span>
            <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Instfactwi is a powerful web application that enables users to represent their Instagram
              follower-following connections using Vis.js. With this app, you can visualize your Instagram network and
              gain insights into the relationships between your followers and following.

              One of the key features of Instfactwi is its ability to generate descriptive content that helps users
              understand the structure of their Instagram network. By analyzing your follower-following connections
            </p>
          </div>
        </div>
        <h2 id="accordion-color-heading-2">
          <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-2" aria-expanded="false"
            aria-controls="accordion-color-body-2">
            <span>Why?</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Idk 💀👌👍
            </p>
          </div>
        </div>
        <h2 id="accordion-color-heading-3">
          <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-3" aria-expanded="false"
            aria-controls="accordion-color-body-3">
            <span>How?</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
          <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              First, you will need to create a data object that contains information about each user's follower and
              following relationships. You can create this object using Instagram's API or by scraping data from the
              platform.

              Once you have the data object, you can use Vis.js to create an interactive network visualization that
              displays the relationships between the users. Here's an example of how you can set up the Vis.js graph
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- navbar -->

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script type="text/javascript" src="/js/butter/butter.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>