<div class="theme text-center p-3" style="border-bottom: 2px solid violet;">
    <nav class="lg:flex p-4 flex-row border-spacing-1">
        <div class="p-2">
            <a class="font-mono p-4 m-3 text-xl" href="/">Home</a>
        </div>
        <div class="p-2">
            <a class="font-mono p-4 m-3 text-xl" href="/account/register">Register</a>
        </div>
        <div class="p-2">
            <a class="font-mono p-4 m-3 text-xl" href="/account/login">Login</a>
        </div>
    </nav>
</div>